on post-fs-data
    mkdir /data/logger 0775 system system

# kernel log
service log-kernel /system/bin/sh /system/bin/logger_kernel.sh
    class main
    disabled
    oneshot

on property:persist.service.kernel.enable=1
    stop log-kernel
    start log-kernel
    stop log-power
    start log-power

on property:persist.service.kernel.enable=0
    stop log-kernel
    stop log-power

# logcat main
service logcat-main /system/bin/sh /system/bin/logger_main.sh
    class main
    disabled
    oneshot

on property:persist.service.main.enable=1
    stop logcat-main
    start logcat-main

on property:persist.service.main.enable=0
    stop logcat-main

# logcat system
service logcat-system /system/bin/sh /system/bin/logger_system.sh
    class main
    disabled
    oneshot

on property:persist.service.system.enable=1
    stop logcat-system
    start logcat-system

on property:persist.service.system.enable=0
    stop logcat-system

# logcat events
service logcat-events /system/bin/sh /system/bin/logger_events.sh
    class main
    disabled
    oneshot

on property:persist.service.events.enable=1
    stop logcat-events
    start logcat-events

on property:persist.service.events.enable=0
    stop logcat-events

